<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentManagementSystem.My.MySettings.DBConnectionString"
            connectionString="Data Source=146.230.177.46\IST2;Initial Catalog=Ist2hw;Persist Security Info=True;User ID=Ist2hw;Password=ufjufh"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>